.ContactUS {

    font-family: SegoeUI;
    font-size: 15pt;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #8d8d8d;
}