/* The switch - the box around the slider */
.ToggleButton .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.ToggleButton .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.ToggleButton .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border: #c7c7c7 1px solid;
    -webkit-transition: .4s;
    transition: .4s;
}

.ToggleButton .slider:after {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.ToggleButton input:checked + .round:after {
    background-color: #c7c7c7;
}

.ToggleButton input:focus + .slider {
    box-shadow: 0 0 1px #c7c7c7;
}

.ToggleButton input:checked + .slider:after {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.ToggleButton .slider.round {
    border-radius: 34px;
}

.ToggleButton .slider.round:after {
    background-color: #03ab1f;
    border-radius: 100%;
}